<h1>編集</h1>




<%= form_for(@article) do |f| %>

      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :タイトル %>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.label :本文 %>
      <%= f.text_area :contents, class: 'form-control' %>

      <%= f.label :画像 %>
      <%= f.file_field :picture %>

      <%= f.label :画像スタイル %>      
      <%= f.select :img_style, {セピア:"sepia", 色調反転: "invert"}, {include_blank: 'なし'},class: 'sample'  %>


      <%= f.label :背景パターン %>
      <%= f.select :color, {方眼:"hougan", 斜線: "naname", タイル: "tile", ドット: "dot", 円: "en"}, {include_blank: 'なし'},class: 'sample'  %>



      <%= f.submit "投稿", class: "btn btn-primary" %>
    <% end %>