
<% if logged_in? %>
<p class="post"><%= link_to '記事を追加',new_article_path, class: "btn btn-default btn-lg"%></p>
<% end %>


<%= render 'shared/index_drop' %>

<%= will_paginate @articles, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
<br>
<div class="main">
<% @articles.each do |c| %>


  <div class="wrap">
    <a href="<%="articles/#{c.id}"%>" class="a_tag">

  <div class="stream">
  <% c.comments.order(created_at:'desc').first(5).each do |cl| %>
<li class="c_list" style="color:<%= cl.color %>;"><%= cl.body%></li>
<br>
<% end %>
</div>

<%= image_tag c.picture, :width =>'200', class:"#{c.img_style}"%>
</a>
</div>


<% end %>
</div>
<%= will_paginate @articles, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>



<script>

$('.a_tag').hover(
 function() {
       $(this).children('.stream').addClass('move');
$(this).children('img').addClass('brightness');
 },
 function() {
     $(this).children('.stream').removeClass('move');
$(this).children('img').removeClass('brightness');
 }
);

 
</script>
