
<div>

<h1><%= @article.title %></h1>
<hr>

<div class="text-center";>
<img src="<%= "/post_img/#{@article.img_name}" %>" class="showimg <%=@article.img_style%>">

<p><%= @article.contents %></p>

<%= render 'shared/coment_form' %>
</div>



<% if @article.comments.any? %>
  

コメント数（<%= @article.comments.count %>）


  <%= will_paginate @microposts, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
  <% @microposts.each do |c| %>
  <li style="color:<%= c.color %>;"><%= c.body %></li>
<% end %>
<%= will_paginate @microposts, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
<% end %>
</div>

<script>
$("body").addClass("<%= @article.color %>")
</script>