<br><br>
<%= render 'shared/index_drop' %>
<%= will_paginate @articles, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
<br>
<div class="main">
<% @articles.each do |a| %>

  <div class="wrap">
    <a href="<%="articles/#{a.id}"%>" class="a_tag">

  <div class="stream">
  <% a.comments.order(created_at:'desc').first(5).each do |c| %>
<li class="c_list" style="color:<%= c.color %>;"><%= c.body%></li>
<br>
<% end %>
</div>

<%= image_tag a.picture.url, class:"#{a.img_style} imgface"%>
</a>
</div>


<% end %>
</div>

<%= will_paginate @articles, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>

<script>

$('.a_tag').hover(
 function() {
   $(this).children('.stream').addClass('move');
   $(this).children('img').addClass('brightness');
 },
 function() {
   $(this).children('.stream').removeClass('move');
   $(this).children('img').removeClass('brightness');
 }
);
 
</script>
