<div class="dropdown">
　<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
　　<%= @page %>
　　<span class="caret"></span>
　</button>
　<ul class="dropdown-menu" >
　　<li><%= link_to("3", "/3") %></li>
　　<li><%= link_to("4", "/4") %></li>
　　<li ><%= link_to("5", "/5") %></li>
　　<li><%= link_to("6", "/6") %></li>
　</ul>

　件ずつ表示

</div>
