<!-- <header class="navbar navbar-inverse"> -->
<header class="navbar navbar-fixed-top navbar-inverse head">
  <div class="container">

	<div class="logo">
	
  <canvas id="logo_canvas" width="150" height="30">
</canvas>
  <h2 class="logoc">試用アプリ</h2>
<%= link_to "root", root_path, id: "logo",class:"logolink"%>
</div>


    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to "ユーザー設定", user_path(current_user.id) %></li>
	  <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "登録はこちら", new_user_url %></li>
          <li><%= link_to "ログイン", login_path %></li>
        <% end %>
	
      </ul>
    </nav>
  </div>


</header>
